.navbar{
    position:fixed;
    width: 90%;
    margin-left:  5%;
    /* margin-right: 5%; */
    z-index: 20;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.bg_nav{
    background-color:var(--background-color-raven);
}

.navbar h1{
    color:var(--text-color-purity);
    font-size: var(--fontsize-strong);
    mix-blend-mode: difference;
}

.hamBurger{
    cursor: pointer;
    width:2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgba(95, 94, 94, 0.616) ;
    fill: rgb(255, 255, 255);
}

.menu{ 
    margin-top: 12.5px;  
    display:inline-block;
}

.bar1,.bar2,.bar3{
    width: 30px;
    height: 3px;
    border-radius: 2rem;
    background-color: rgb(0, 0, 0);
    margin: 4px ;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5, -4px);
    transform: rotate(45deg) translate(-5px, -4px);
}